/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 20, 2023, 9:07:53 PM
    Author     : HP
*/
*{margin:auto ;padding: auto;}
main{
    height: 80vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.leftside{
    border-radius: 54% 46% 51% 49% / 26% 95% 5% 74% ;
    background-color: rgb(90, 90, 216);
}
.rightside h1{
    font-size: 5rem;
    font-weight: 700;
    color: rgb(28, 28, 61);
    position: relative;
    border-radius:8% 92% 56% 44% / 0% 95% 5% 100% ;
    background-color: rgb(57, 34, 158);

}
